@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Oi&display=swap");
@import "tailwindcss";

:root {
  --color-bg: var(--color-mauve-100);
  --color-border: var(--color-mauve-500);
  --color-text-primary: var(--color-mauve-800);
  --color-text-secondary: var(--color-mauve-700);
}

body {
  font-family: "Comissioner", sans-serif;
  color: var(--color-text-secondary);
}

.oi-regular {
  font-family: "Oi", serif;
}

/* MARKDOWN */
.markdown h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.markdown h3 {
  font-weight: 700;
}

.markdown p {
  margin-bottom: 1rem;
}

.markdown ul {
  padding-left: 1.5rem;
  list-style: disc;
}

.markdown hr {
  margin: 1.5rem 0;
}
